body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

div {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellow {
    background-color: #FFFF00;
}

.blue {
    background-color: #0000FF;
}

.red {
    background-color: #FF0000;
}

.white {
    background-color: #FFF;
}

.main-side-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    height: 100%;
}

.bigger-main {
    height: 44vh;
}

.smaller-main {
    height: 25vh;
}

.side-right {
    display: flex;
    flex-direction: column;
    width: 79%;
}

.line-top {
    display: flex;
    justify-content: space-between;
    height: 26vh;
}

.lt {
    width: 49%;
}

.box-bottom {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 75vh;
    margin-top: 3vh;
}

.box-right {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.br {
    height: 22%;
    width: 100%;
}

.box-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-left-top {
    width: 98%;
    height: 22%;
}

.box-left-bottom {
  display: flex;
  justify-content: space-between;
    width: 98%;
    height: 75%;
}

.box-left-bottom-left {
width: 70%;
height: 100%;
}

.box-left-bottom-right {
  width: 27%;
  height: 100%;
}
